<% layout('layouts/boilerplate') %>

<!-- <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-12 text-center">
            <iframe src="//gifs.com/embed/ah-ah-ah-you-didn-t-say-the-magic-word-jurassic-park-magic-word-clip-vpe2WN?muted=false" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>
    </div>
</div> -->

<h1 class="text-center">AH AH AHHHH, YOU DIDN'T SAY THE MAGIC WORD</h1>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-12 text-center">
            <img src="https://j.gifs.com/vpe2WN.gif" alt="Jurassic Park GIF">
        </div>
    </div>
</div>